body.sonata-bc {
    padding-top: 0;
}

.sonata-bc .row-fluid {
    padding: 0 20px;
    width: auto;
}

#header {
    overflow: hidden;
}

#header img{
    max-width: none;
    display: block;
    margin: auto;
}

.navbar .navbar-inner, .navbar .navbar-inner .container-fluid {
    padding: 0;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

html, body, body.sonata-bc {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0;
    box-sizing: border-box;
    padding-bottom: 68px;
}

#footer {
    background: #f5f5f5;
    text-align: center;
    margin-top: -68px;
}

#footer p {
}

.sonata-bc form.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-text {
    font-size: 16px;
    padding: 0 0 29px;
    width: 360px;
    margin: 0 auto;
}

.isotope_detail {
    /*background-color: #eee;*/
    /*height: 310px;*/
    /*position: relative;*/
    display: inline-block;
    position: relative;

}

.isotope_detail > * {
    font-size: 12px;
    width: 205px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    /*top: 5px;*/
    display: block;
    float: right;
}
.isotope_detail > table {
    max-width: 595px;
    min-width: 205px;
}
.isotope_detail th {
    width: 100px;
    font-weight: bold;
    font-size: 11px;
    max-width: 270px;
}

.isotope_detail > div {
    position: absolute;
    right: -350px;
    top: -14px;
    padding: 7px;
}
.isotope_detail td {
    width: 150px;
}

.isotope_detail .sonata-ba-view-title {
    height: 30px;
    font-size: 12px;
    background: #f2f2f2;
}

.isotope_order_list {
    display: block;
    float: left;
    left: -15px;
    position: relative;
    right: 0;
}

.order_show {
    white-space: normal;

}

.order_show .sonata-ba-view-container {
    font-size: 12px;
}

.isotope_order_list span {
    font-size: 12px;
    position: relative;
    padding-left: 8px;
}

.selected_li {
    background-color: #eee;
}

ul[data-popup="show"] {
    min-height: 205px;
    vertical-align: top;
}

.amount_convert {
    text-align: right;

}

.physical_quantity {
    margin-left: 10px;
    margin-right: 10px;
}

.sonata-bc input[type="text"].order_cost_center {
    width: 96%;
}

.login_warning .msg {
    color: #DD1144
}
.login_warning label.warning {
    color: #DD1144
}
.login_warning input.warning {
    border-color: #DD1144
}

caption.header {
  line-height: 2.5;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
  vertical-align: middle;
  font-size: large;
}

.custom-links {
    margin-bottom: 20px;
    font-size: 14px;
    overflow: hidden;
}

.isotope_order_list input[type="radio"] {
    margin-top: 0;
}

.imprint_link {
  display: inline-block;
  float: right;
  position: relative;
}

.clr{
    width: 100%;
    display: block;
}
