{% extends "IsotopeDbBundle:Admin:standard_layout.html.twig" %}


{% block form %}
    {{ form(form) }}
{% endblock %}
{% block list_table %}
    <table class="table table-bordered table-striped">
        <thead>
        <caption class="header">Gesamtsummen „Erwerb und Abgabe von radioaktiven Stoffen“ im Jahr</caption>
        <tr class="sonata-ba-list-field-header">
            {% for c in columns %}
                    <th>{{ c }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row.category }}</td>
                <td>{{ row.purchased | science_number_format(2) }} {% if row.purchased|abs > 0 %}({{ row.purchased_ci }}) {% endif %}</td>
                <td>{{ row.disposed | science_number_format(2) | trim('-') }} {% if row.disposed|abs > 0 %}({{ row.disposed_ci | trim('-') }}){% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table table-bordered table-striped">
        <caption class="header">Jahresbilanz der freigegebenen Stoffe</caption>
        <tr class="sonata-ba-list-field-heade">

            <th rowspan="2">Nuklid</th>
            <th rowspan="2">Art des Abfalls</th>
            <th rowspan="2">Ausgangs-aktivität des kontami-nierenden Nuklids in Bq</th>
            <th rowspan="2">Masse in g</th>
            <th rowspan="2">Datum der Einlagerung</th>
            <th rowspan="2">Datum der Freigabe</th>
            <th colspan="5">Annahmen und Ergebnis des Freigabenachweises</th>
        </tr>
        <tr>
            <th>Spezifische Aktivität in Bq/g</th>
            <th>Freigabe-grenzwert in Bq/g</th>
            <th>Halbwerts-zeit in Tagen</th>
            <th>Berechnete Abklingzeit in Tagen</th>
            <th>Berechnetes Freigabedatum</th>
        </tr>

            {% for disposal in disposals %}
                <tr>
                    <td>{{ disposal.category.name }}</td>
                    <td>{{ disposal.barrelCategory.description }}</td>
                    <td>{{ disposal.amount | science_number_format(2) }}</td>
                    <td>{{ disposal.getDropWeight }}</td>
                    <td>{{ disposal.date | date('d.m.Y')}}</td>
                    <td>{{ disposal.actualDisposal | date('d.m.Y')}}</td>
                    <td>{{ disposal.getSpecActivity }}</td>
                    <td>{{ disposal.category.releaseLimit }}</td>
                    <td>{{ disposal.category.halflife }}</td>
                    <td>{{ disposal.getDaysBeforeReleaseCount|trim('-') }}</td>
                    <td>{{ disposal.getCalculatedDisposalDate| date('d.m.Y') }}</td>
                </tr>
            {% endfor %}

    </table>

    <table class="table table-bordered table-striped">
        <caption class="header">Korrekturen</caption>
        <tr class="sonata-ba-list-field-heade">
            <th>{{ 'show.label_category' |trans() }}</th>
            <th>{{ 'show.label_amount' |trans() }}</th>
            <th>{{ 'show.label_date' |trans() }}</th>
        </tr>
        {% for correction in corrections %}
            <tr>
                <td>
                    {{ correction.category }}
                </td>
                <td>
                    {{ correction.amount | science_number_format(2) | trim('-') }} 
                    {% if correction.amount|abs > 0 %}({{ correction.amount_ci|trim('-') }}) {% endif %}
                </td>
                <td>
                    {{ correction.date| date('d.m.Y') }}
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
