
{% extends 'SonataAdminBundle:CRUD:delete.html.twig' %}

{% block content %}
    <div class="sonata-ba-delete">

        <h1>{{ 'form.title_approve_internal_disp'|trans() }}</h1>

        {{ 'form.message_approve_confirm_internal_disp'|trans({'%object%': admin.toString(object)}) }}

        <div class="well well-small form-actions">
            <form method="POST" action="{{ admin.generateObjectUrl('approve', object) }}">
                <input type="hidden" name="_method" value="APPROVE" />
                <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />

                <button type="submit" class="btn btn-success"><i class="icon-edit icon-white"></i> {{ 'form.btn_approve_internal_disp'|trans() }}</button>
                {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}
                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                    <a class="btn btn-success" href="{{ admin.generateObjectUrl('edit', object) }}">
                        <i class="icon-white icon-edit"></i>
                        {{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
