{% if object.getStatus == 'Actual' %}
<a href="{{ path('admin_isotope_db_internaldisposal_approve', {id: object.id}) }}" class="btn delete_link btn-small" title="Freigeben">
    Freigeben
</a>
{% endif %}
