{% extends "IsotopeDbBundle:Admin:standard_layout.html.twig" %}


{% block form %}
    <form action="{{ path('admin_balance_year') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_errors(form) }}
        {% block date_widget %}
            {% spaceless %}
                <div {{ block('widget_container_attributes') }}>
                    {{ form_errors(form.date.year) }}

                    {{ form_widget(form.date.year) }}

                </div>
            {% endspaceless %}
        {% endblock date_widget %}
    {{ form_widget(form._token) }}

    {{ form_widget(form.submit) }}
    {{ form_widget(form.reportxls) }}
    </form>

{% endblock %}
{% block list_table %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr class="sonata-ba-list-field-header">
            {% for c in columns %}
            <th>{{ ('show.label_balance_' ~ c ~ '_ci') | trans() }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.category }} </td>
                    <td>{{ row.initial_stock | science_number_format(2) }} {% if row.initial_stock|abs > 0 %}({{ row.initial_stock_ci }}){% endif %}</td>
                    <td>{{ row.purchased | science_number_format(2) }} {% if row.purchased|abs > 0 %}({{ row.purchased_ci }}){% endif %}</td>
                    <td>{{ row.disposed | science_number_format(2) }} {% if row.disposed|abs > 0 %}({{ row.disposed_ci }}){% endif %}</td>
                    <td>{{ row.difference | science_number_format(2)}} {% if row.difference|abs > 0 %}({{ row.difference_ci }}){% endif %}</td>
                    <td>{{ row.end_stock | science_number_format(2)}} {% if row.end_stock|abs > 0 %}({{ row.end_stock_ci }}){% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
