{% if object.getStatus == 'Actual' %}
<a href="{{ path('admin_isotope_db_internaldisposal_delete', {id: object.id}) }}" class="btn delete_link btn-small" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
    <i class="icon-remove"></i>
    {{ 'delete_label' |trans() }}
</a>
{% endif %}
