{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
{% if admin.datagrid.results is not null %}
    <div>
        <strong>{{ object.getCalculatedDisposalDate|date("F j, Y")}}</strong>
    </div>
{% endif %}
{% endblock %}
