
{% extends 'SonataAdminBundle:CRUD:delete.html.twig' %}

{% block content %}
    <div class="sonata-ba-delete">

        <h1>{{ 'title_hide'|trans() }}</h1>

        {{ 'message_hide_confirmation'|trans() }}

        <div class="well well-small form-actions">
            <form method="POST" action="{{ admin.generateObjectUrl('hide', object) }}">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />

                <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'btn_hide'|trans() }}</button>
                {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}
                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                    <a class="btn btn-success" href="{{ admin.generateObjectUrl('edit', object) }}">
                        <i class="icon-white icon-edit"></i>
                        {{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
