{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}


{% block field%}
    <div>
        <a href="javascript:void(0);" class="btn view_link btn-small show-isotope-btn" title="Anzeigen" data-isotope-id="{{ object.id }}" data-toggle="modal" data-target="#full_object_{{ object.id }}">
            <i class="icon-zoom-in"></i>
            {{ 'show_label' |trans() }}
        </a>

        <div class="modal hide fade" id="full_object_{{ object.id }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ 'show.label_isotope' |trans() }} {{ object.catalogNumber }}</h3>
            </div>
            <div class="modal-body">

                <div class="sonata-ba-show">    <div class="sonata-ba-view">
                        <table class="table table-bordered">
                            <tbody>
                            <tr class="sonata-ba-view-container">

                                <th>{{ 'show.label_category' |trans() }}</th>
                                <td>{{ object.category.name }}
                                </td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_catalog_number' |trans() }}</th>
                                <td>{{  object.catalogNumber }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_rounding' |trans() }}</th>
                                <td>{{ object.rounding | science_number_format()}}&nbsp;
                                    ({{ (object.rounding/37000) | science_number_format() }})</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_highest_amount' |trans() }}</th>
                                <td>{{ object.highestAmount | science_number_format() }}&nbsp;
                                    ({{ (object.highestAmount/37000) | science_number_format() }})</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_company' |trans() }}</th>
                                <td>{{ object.company }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_product_line' |trans() }}</th>
                                <td>{{ object.productLine }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_substance' |trans() }}</th>
                                <td>{{ object.substance }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_specific_activity' |trans() }}</th>
                                <td>{{ object.specificActivity }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_concentration' |trans() }}</th>
                                <td>{{ object.concentration }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_delivery_type' |trans() }}</th>
                                <td>{{ object.deliveryType }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_note' |trans() }}</th>
                                <td>{{ object.note }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_active' |trans() }}</th>
                                <td>
                                    {% spaceless %}
                                        {% if object.active %}
                                            <i class="icon-ok-circle"></i>
                                            {%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}
                                        {% else %}
                                            <i class="icon-ban-circle"></i>
                                            {%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}
                                        {% endif %}
                                    {% endspaceless %}

                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <a href="#" class="btn"  data-dismiss="modal" aria-hidden="true">{{ 'close_label' |trans() }}</a>
            </div>
        </div>
    </div>


{% endblock %}
