{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
{% if object.internalDisposal %}
    {% if  object.releaseLimit is  null  %}
        -
    {% endif %}
    {{ object.releaseLimit | science_number_format() }}
{% else%}
    -
{% endif %}
{% endblock %}