{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}


{% block field%}
    <div>
        <a href="javascript:void(0);" class="btn view_link btn-small show-isotope-btn" title="Anzeigen" data-isotope-id="{{ object.id }}" data-toggle="modal" data-target="#full_object_{{ object.id }}">
            <i class="icon-zoom-in"></i>
            Anzeigen
        </a>

        <div class="modal hide fade" id="full_object_{{ object.id }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Modal header</h3>
            </div>
            <div class="modal-body">

                <div class="sonata-ba-show">    <div class="sonata-ba-view">
                        <table class="table table-bordered">
                            <tbody><tr class="sonata-ba-view-title">
                                <td colspan="2">
                                    Isotope
                                </td>
                            </tr>

                            <tr class="sonata-ba-view-container">

                                <th>Category</th>
                                <td>{{ object.category.name }}
                                </td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Catalog Number</th>
                                <td>{{  object.catalogNumber }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Rounding</th>
                                <td>{{ object.rounding | science_number_format() }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Highest Amount</th>
                                <td>{{ object.highestAmount | science_number_format() }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Company</th>
                                <td>{{ object.company }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Product Line</th>
                                <td>{{ object.productLine }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Substance</th>
                                <td>{{ object.substance }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Specific Activity</th>
                                <td>{{ object.specificActivity }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Concentration</th>
                                <td>{{ object.concentration }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Delivery Type</th>
                                <td>{{ object.deliveryType }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Note</th>
                                <td>{{ object.note }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Active</th>
                                <td>
                                    {% spaceless %}
                                        {% if object.active %}
                                            <i class="icon-ok-circle"></i>
                                            {%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}
                                        {% else %}
                                            <i class="icon-ban-circle"></i>
                                            {%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}
                                        {% endif %}
                                    {% endspaceless %}

                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <a href="#" class="btn"  data-dismiss="modal" aria-hidden="true">Schließen</a>
            </div>
        </div>
    </div>


{% endblock %}