{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}


{% block field%}
    <div>
        <a href="javascript:void(0);" data-isotope-id="{{ object.isotope.id }}" data-toggle="modal" data-target="#full_object_{{ object.isotope.id }}">
            {{ object.isotope.wideName }}
        </a>

        <div class="modal hide fade" id="full_object_{{ object.isotope.id }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>&nbsp;</h3>
            </div>
            <div class="modal-body">

                <div class="sonata-ba-show">    <div class="sonata-ba-view">
                        <table class="table table-bordered">
                            <tbody><tr class="sonata-ba-view-title">
                                <td colspan="2">
                                    Isotope
                                </td>
                            </tr>

                            <tr class="sonata-ba-view-container">

                                <th>Kategorie</th>
                                <td>{{ object.isotope.category.name }}
                                </td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Katalog Nummer</th>
                                <td>{{  object.isotope.catalogNumber }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Rundung</th>
                                <td>{{ object.isotope.rounding | science_number_format() }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Höchste Menge</th>
                                <td>{{ object.isotope.highestAmount | science_number_format() }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Firma</th>
                                <td>{{ object.isotope.company }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Produktlinie</th>
                                <td>{{ object.isotope.productLine }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Substanz</th>
                                <td>{{ object.isotope.substance }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Spezifische Aktivität</th>
                                <td>{{ object.isotope.specificActivity }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Konzentration</th>
                                <td>{{ object.isotope.concentration }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Lieferart</th>
                                <td>{{ object.isotope.deliveryType }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Notiz</th>
                                <td>{{ object.isotope.note }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Active</th>
                                <td>
                                    {% spaceless %}
                                        {% if object.isotope.active %}
                                            <i class="icon-ok-circle"></i>
                                            {%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}
                                        {% else %}
                                            <i class="icon-ban-circle"></i>
                                            {%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}
                                        {% endif %}
                                    {% endspaceless %}

                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <a href="#" class="btn"  data-dismiss="modal" aria-hidden="true">Schließen</a>
            </div>
        </div>
    </div>


{% endblock %}