{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}

    <div>
        {{ object.rounding | science_number_format() }}
        &nbsp;({{ (object.getRounding/37000) | science_number_format() }})
    </div>



{% endblock %}
