{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}


{% block field%}
    <div>
        <a href="javascript:void(0);" data-user-id="{{ object.user.id }}" data-toggle="modal" data-target="#full_object_{{ object.user.id }}">
            {{ object.user.username }}
        </a>

        <div class="modal hide fade" id="full_object_{{ object.user.id }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ 'show.label_user' |trans() }}</h3>
            </div>
            <div class="modal-body">
            {% set ldap_fields = field_description.options.ldap_fields %}
                <div class="sonata-ba-show">    <div class="sonata-ba-view">
                        <table class="table table-bordered">
                            <tbody>
                            {% if object.user.username is not empty %}
                            <tr class="sonata-ba-view-container">

                                <th>{{ 'show.label_username' |trans() }}</th>
                                <td>{{ object.user.username }}
                                </td>
                            </tr>
                            {% endif %}
                            {% if (object.user.firstName is not empty or object.user.lastName is not empty)
                                and (('firstname' in ldap_fields) or ('lastname' in ldap_fields)) %}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_first_name' |trans() }} / {{ 'show.label_last_name' |trans() }}</th>
                                <td>{% if 'firstname' in ldap_fields %}
                                        {{  object.user.firstName }} 
                                    {% endif %}
                                    {% if 'lastname' in ldap_fields %}
                                        {{  object.user.lastName }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.user.email is not empty and 'email'  in ldap_fields %}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_email' |trans() }}</th>
                                <td>
                                    <a href="mailto:{{ object.user.email }}?subject=Ihre Bestellung vom {{object.date|date('Y-m-d')}}">
                                    {{ object.user.email }}
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                            {% if object.user.phone is not empty and 'phone' in ldap_fields %}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_phone' |trans() }}</th>
                                <td>{{ object.user.phone }}</td>
                            </tr>
                            {% endif %}
                            {% if object.user.roomNumber is not empty and 'roomnumber'  in ldap_fields %}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_room_number' |trans() }}</th>
                                <td>{{ object.user.roomNumber }}</td>
                            </tr>
                            {% endif %}
                            {% if object.user is not empty %}
                            <tr class="sonata-ba-view-container" co>
                                <th></th>
                                <td><a href="{{ path('admin_isotope_db_order_list',
                                            {'filter[status][value]':'stock','filter[user][value]':object.user.id}) }}">
                                        {{ 'stocks_user' |trans() }}
                                    </a>
                                    <br>
                                    <a href="{{ path('admin_isotope_db_order_list',
                                            {'filter[status][value]':'order','filter[user][value]':object.user.id}) }}">
                                        {{ 'recent_orders_user' |trans() }}
                                    </a>
                                    
                                </td>
                            </tr>
                            {% endif %}
                            </tbody></table>
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <a href="#" class="btn"  data-dismiss="modal" aria-hidden="true">{{ 'close_label' |trans() }}</a>
            </div>
        </div>
    </div>


{% endblock %}