{% if object.enabled %}

<a href="{{ path('admin_isotope_db_user_disable', {'id': object.id}) }}" class="btn delete_link btn-small" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
    <i class="icon-remove"></i>
    Disable
</a>

{% else %}
<a href="{{ path('admin_isotope_db_user_enable', {'id': object.id}) }}" class="btn delete_link btn-small" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
    <i class="icon-create"></i>
    Enable
</a>
{% endif %}