{% if object.visible == true and admin.isGranted('EDIT', object) %}
    <a href="{{ path('admin_isotope_db_currentorder_delete', {'id': object.id}) }}" class="btn delete_link btn-small" title="Löschen">
        <i class="icon-remove"></i>
        {{ 'delete_label' |trans() }}
    </a>
{% endif %}
