{% if object.visible == true %}
    <a href="{{ path('admin_isotope_db_order_delete', {'id': object.id}) }}" class="btn delete_link btn-small" title="Löschen">
        <i class="icon-remove"></i>
        {{ 'delete_label' |trans() }}
    </a>
{% endif %}