{% if object.visible == true %}
    <a href="{{ admin.generateObjectUrl('hide', object) }}" class="btn delete_link btn-small" title="{{ 'deactivate_label' |trans() }}">
        <i class="icon-remove"></i>
        {{ 'deactivate_label' |trans() }}
    </a>
{% else %}
    <a href="{{ admin.generateObjectUrl('reactivate', object) }}" class="btn delete_link btn-small" title="{{ 'reactivate_label' |trans() }}">
    {#    <i class="icon-remove"></i>#}
        {{ 'reactivate_label' |trans() }}
    </a>
{% endif %}