{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{# Isotope/Bundle/DbBundle/Ressources/views/Admin/settings-edit.html.twig #}

{% block formactions %}
    <div class="custom-links">
        <a href='{{ path('admin_weekly_report') }}'>{{ "label_settings_weekly_report" | trans }}</a>
    </div>
    {{ parent() }}
{% endblock %}
