{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <div>
        {{ object.amount | science_number_format() }}&nbsp;
        ({{ object.getAmountUci | science_number_format() }})

    </div>
{% endblock %}
