{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <div>
        {{ object.rounding | science_number_format() }}
        &nbsp;({{ object.rounding | science_number_format() }})
    </div>
{% endblock %}
