    <div style="display:inline">
        <a href="javascript:void(0);" class="btn view_link btn-small show-isotope-btn" title="Anzeigen" data-order-id="{{ object.id }}" data-toggle="modal" data-target="#full_order_{{ object.id }}">
            <i class="icon-zoom-in"></i>
            {{ 'show' |trans() }}
        </a>

        <div class="modal hide fade" id="full_order_{{ object.id }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ 'order' |trans() }}</h3>
            </div>
            <div class="modal-body">

                <div class="sonata-ba-show">    <div class="sonata-ba-view">
                        <table class="table table-bordered order_show">
                            <tbody>

                            <tr class="sonata-ba-view-container">

                                <th>{{ 'show.label_date' |trans() }}</th>
                                <td>{{ object.date|date("d.m.Y") }}
                                </td>
                            </tr>
                            {%if object.stockDate is not null %}
                            <tr class="sonata-ba-view-container">

                                <th>{{ 'show.label_stock_date' |trans() }}</th>
                                <td>{{ object.date|date("d.m.Y") }}
                                </td>
                            </tr>
                            {%endif%}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_isotope' |trans() }}</th>
                                <td>{{  object.isotope }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_amount' |trans() }}</th>
                                <td>{{ object.amount | science_number_format() }}&nbsp;
                                    ({{ object.getAmountUci | science_number_format() }})</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_status_label' |trans() }}</th>
                                <td>{{ object.status }}</td>
                            </tr>
                            {%if object.disposed > 0 %}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_disposed' |trans() }}</th>
                                <td>{{ object.disposed }}</td>
                            </tr>
                            {%endif%}
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'show.label_cost_center' |trans() }}</th>
                                <td>{{ object.costCenter }}</td>
                            </tr>

                            </tbody></table>
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <a href="#" class="btn"  data-dismiss="modal" aria-hidden="true">{{ 'close_label' |trans() }}</a>
            </div>
        </div>
    </div>

