{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <div>
        
    {% set role = 'user' %}
        {% for r in object.roles if r is sameas('ROLE_ISOTOP_ADMIN') %}
            {% if r is sameas('ROLE_ISOTOP_ADMIN') %}
                {% set role = 'admin' %}
            {% endif  %}
        {%endfor %}
        {{ role }}
    </div>
{% endblock %}
