{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <div>
        {{ object.highestAmount  | science_number_format()}}
        &nbsp;({{ (object.highestAmount/37000) | science_number_format() }})
    </div>
{% endblock %}
