{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _side_menu    = block('side_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _actions      = block('actions') %}
<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <!-- jQuery code -->
        <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="all" />

        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all"  />
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />

        {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/select2/select2.css') }}" type="text/css" media="all" />
            <style>
                div.select2-container {
                    margin-left: 0px !important;
                }

                div.select2-drop ul {
                    margin: 0px !important;
                }
            </style>
        {% endif %}

        <!-- base application asset -->
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/isotopedb/css/default.css') }}" type="text/css" media="all" />

    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript">
            window.SONATA_CONFIG = {
                CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %}
            };
            window.SONATA_TRANSLATIONS = {
                CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
            };
        </script>
        <script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>

        {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
        <script src="{{ asset('bundles/sonataadmin/select2/select2.min.js') }}" type="text/javascript"></script>
        {% endif %}

        <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/isotopedb/js/default.js') }}" type="text/javascript"></script>
        {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}<script src="{{ asset('bundles/sonataadmin/jquery/jquery.confirmExit.js') }}" type="text/javascript"></script>{% endif %}
        <script src="{{ asset('bundles/sonataadmin/base.js') }}" type="text/javascript"></script>
    {% endblock %}

        <title>
        {% set currentPath = path(app.request.attributes.get('_route' ),app.request.attributes.get('_route_params')) %}
        {% if object is defined  and action is defined and action is sameas('create')%}
            {{ object|trans() }}
        {% else %}
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first  %}
                            &gt;
                        {% endif %}
                        {% if currentPath is sameas('/admin/isotope/db/currentorder/list') and loop.last%}
                            {{ 'current_orders' |trans() }}
                        {% else %}
                            {{ menu.label|trans() }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif%}
        {% endif %}
    </title>
</head>
<body {% block body_attributes %}class="sonata-bc"{% endblock %}>
{# initialize block value #}

<div id="wrap">

<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div id="header">
                <img src="{{ asset('bundles/isotopedb/images/Header_IsoDB.jpg') }}" />
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    {% block sonata_page_content %}
        {% block notice %}
            {% for notice_level in ['success','error','info', 'warning'] %}
                {% set session_var = 'sonata_flash_' ~ notice_level %}
                {% for flash in app.session.flashbag.get(session_var) %}
                    <div class="alert {{ 'alert-' ~ notice_level }}">
                        {{ flash|trans([], 'SonataAdminBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        <div class="row-fluid">
            <div class="sidebar span2">
                {% if _side_menu is not empty %}
                    <div class="well sonata-ba-side-menu" style="padding: 8px 0;">{{ _side_menu|raw }}</div>
                {% endif %}

                <div class="well sonata-ba-side-menu" style="padding: 8px 0;">
                    <ul class="nav nav-list">
                        {%if maintainance_mode is not defined %}
                        <li class="nav-header">{{ 'order' |trans() }}</li>
                        <li>
                            <ul class="nav nav-list">
                                <li>
                                    <a href="/admin/isotope/db/currentorder/create">{{ 'new_order' |trans() }}</a>
                                </li>
                                <li>
                                    {% set current_orders_list_link = "/admin/isotope/db/currentorder/list" %}
                                    {% if is_granted('ROLE_ISOTOP_ADMIN') %}
                                        {% set current_orders_list_link = "/admin/isotope/db/order/list?filter%5Bstatus%5D%5Bvalue%5D=order" %}
                                    {%endif%}
                                    <a href="{{current_orders_list_link}}">{{ 'current_orders' |trans() }}</a>
                                </li>
                            </ul>

                        </li>
                        {%endif%}
                        <li class="nav-header">User</li>
                        <li>
                            <ul class="nav nav-list">
                                <li><a href="/logout">{{ 'logout' |trans() }}</a></li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ISOTOP_ADMIN')  and maintainance_mode is not defined %}
                            <li class="nav-header">Administration</li>
                            <li>
                                <ul class="nav nav-list">
                                    <li><a href="/admin/isotope/db/isotope/list?filter%5Bactive%5D%5Bvalue%5D=1">Isotope verwalten</a></li>
                                    <li><a href="/admin/isotope/db/category/list">Kategorien verwalten</a></li>
                                    <li><a href="/admin/isotope/db/order/list?filter%5Bstatus%5D%5Bvalue%5D=order">Bestellungen verwalten</a></li>
                                    <li><a href="/admin/isotope/db/order/list?filter%5Bstatus%5D%5Bvalue%5D=stock">Bestand verwalten</a></li>
                                    <li><a href="/admin/isotope/db/barrel/list">Tonnen verwalten</a></li>
                                    <li><a href="/admin/isotope/db/internaldisposal/list?filter%5BactualDisposal%5D%5Btype%5D=6&filter%5BactualDisposal%5D%5Bvalue%5D%5Bdate%5D%5Bday%5D=1&filter%5BactualDisposal%5D%5Bvalue%5D%5Bdate%5D%5Bmonth%5D=1&filter%5BactualDisposal%5D%5Bvalue%5D%5Bdate%5D%5Byear%5D=2009&filter%5BactualDisposal%5D%5Bvalue%5D%5Btime%5D%5Bhour%5D=0&filter%5BactualDisposal%5D%5Bvalue%5D%5Btime%5D%5Bminute%5D=0">
                                            Interne Entsorgung (offen)</a></li>
                                    <li><a href="/admin/isotope/db/internaldisposal/list?filter%5BactualDisposal%5D%5Btype%5D=2&filter%5BactualDisposal%5D%5Bvalue%5D%5Bdate%5D%5Bday%5D=1&filter%5BactualDisposal%5D%5Bvalue%5D%5Bdate%5D%5Bmonth%5D=1&filter%5BactualDisposal%5D%5Bvalue%5D%5Bdate%5D%5Byear%5D=2009&filter%5BactualDisposal%5D%5Bvalue%5D%5Btime%5D%5Bhour%5D=0&filter%5BactualDisposal%5D%5Bvalue%5D%5Btime%5D%5Bminute%5D=0">
                                            Interne Entsorgung (freigegeben)</a></li>
                                    <li><a href="/admin/isotope/db/externaldisposal/list">Externe Entsorgung</a></li>
                                </ul>
                            </li>
                            <li class="nav-header">Berichte</li>
                            <li>
                                <ul class="nav nav-list">
                                    <li><a href="/admin/isotope/db/balance">Bilanzen</a></li>
                                    <li><a href="/admin/isotope/db/balance_year">Jahrensbilanzen</a></li>
                                    <li><a href="/admin/isotope/db/annual_reports">Jahresbericht</a></li>
                                </ul>
                            </li>
                            <li class="nav-header">Einstellungen</li>
                            <li>
                                <ul class="nav nav-list">
                                    <li><a href="/admin/isotope/db/setting/1/edit">Einstellungen</a></li>
                                    <li><a href="/admin/isotope/db/monthlyreportsetting/1/edit">Monatsbericht Einstellungen</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {#
            <div class="content {{ _side_menu is not empty ? ' span10' : 'span12' }}">
            #}
            <div class="content span10">

                <div class="row-fluid">
                    {% if _breadcrumb is not empty or action is defined %}
                        <div class="span6">
                            <ul class="breadcrumb">
                                {% if _breadcrumb is empty %}
                                    {% if action is defined %}
                                        {% for menu in admin.breadcrumbs(action) %}
{#                                            {% if loop.first %}#}
                                
                                            {% if not loop.last  %}
                                                {% if not loop.first %}

                                                <li>
                                                    {% if menu.uri is not empty %}
                                                        {% if menu.uri is sameas('/admin/isotope/db/currentorder/list') %}
                                                            <a href="{{ menu.uri }}">{{ 'current_orders' |trans() }}</a>
                                                        {% else %}
                                                            <a href="{{ menu.uri }}">{{ menu.label|trans() }}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if menu.label is not empty %}
                                                        <span class="divider">/</span>
                                                    {% endif %}
                                                </li>
                                                {% endif %}
                                            {% else %}
                                                {% if currentPath is sameas('/admin/isotope/db/currentorder/list') %}
                                                    <li class="active">{{ 'current_orders' |trans() }}</li>
                                                {% else %}
                                                    {% set path = currentPath|split('/') %}
                                                    {% if path|last in ['edit', 'show'] and ('order' in path or 'currentorder' in path) and loop.last %}
                                                    {% set label = menu.label|split(' ') %}
                                                    <li class="active">{{ label[0]|trans()~' '~ label[1]}}</li>
                                                    {% else %}
                                                    <li class="active">{{ menu.label|trans() }}</li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {{ _breadcrumb|raw }}
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if _actions is not empty %}
                        <div class="span4 offset2">
                            {{ _actions|raw }}
                        </div>
                    {% endif %}
                </div>

                {% block sonata_admin_content %}

                    {% if _preview is not empty %}
                        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                    {% endif %}

                    {% if _content is not empty %}
                        <div class="sonata-ba-content">{{ _content|raw }}</div>
                    {% endif %}

                    {% if _show is not empty %}
                        <div class="sonata-ba-show">{{ _show|raw }}</div>
                    {% endif %}

                    {% if _form is not empty %}
                        <div class="sonata-ba-form">{{ _form|raw }}</div>
                    {% endif %}

                    {% if _list_table is not empty or _list_filters is not empty %}
                        <div class="row-fluid">
                            <div class="sonata-ba-list span12">
                                {{ _list_table|raw }}
                            </div>
                            <div class="sonata-ba-filter span2">
                                {{ _list_filters|raw }}
                            </div>
                        </div>
                    {% endif %}

                {% endblock %}
            </div>
        </div>

    {% endblock %}
</div>
</div>
{% block footer %}
    <div id="footer" class="well">
        <p>&copy; {{ "now"|date('Y') }} Max-Planck-Institut für Züchtungsforschung, Köln<a href="http://www.mpipz.mpg.de/imprint" target="_blank"><span class="imprint_link">Impressum/Imprint (external)</span></a></p>
    </div>
{% endblock %}


</body>
</html>
