Orders for week {{ week }}#:
{#{{dump(orders_stock)}}#}
{% set prev_isotop = orders_stock[0].isotope %}
{% for o_s in orders_stock %}
{% if ( prev_isotop != o_s.isotope) %}

-->{{ prev_isotop.catalogNumber }}, {{ prev_isotop.company }}, {{ prev_isotop.WideNameWeekly }} {{ isotops[prev_isotop.id] }} microCurie

{% set prev_isotop = o_s.isotope %}
{% endif %}
{% if o_s.user.username|lower  == 'dummy' %}Aufrundung: {{ o_s.getAmountUci|number_format('0', ',', '.') }} microCurie{% else %}{% spaceless %}
{% set username = o_s.user.username %}
{% if o_s.user.firstName is not empty and o_s.user.lastName is not empty %}
{% set username = o_s.user.firstName ~ ' ' ~ o_s.user.lastName %}
{% endif %}
KS: {{ o_s.costCenter }} ({{ username }}) {{ o_s.getAmountUci|number_format('0', ',', '.') }} microCurie
{% endspaceless %}
{% endif %}

{% if loop.last %}

-->{{ prev_isotop.catalogNumber }}, {{ prev_isotop.company }}, {{ prev_isotop.WideNameWeekly }} {{ isotops[prev_isotop.id] }} microCurie

{% endif %}
{% endfor %}
