<h1>Isotope DB</h1>

{#% if app.user is not null and app.user.locked == false and app.user.expired == false %#}
<ul>
        <li><a href="{{ path('admin_isotope_db_currentorder_create') }}">New order </a></li>
	<li><a href="{{ path('admin_isotope_db_isotope_list') }}">Isotope list </a></li>
	<li><a href="{{ path('sonata_admin_dashboard')}}">Admin Dashboard</a></li>
</ul>
{#% endif %#}
