{% extends "IsotopeDbBundle:Admin:standard_layout.html.twig" %}

{% block sonata_page_content %}

    <div class="row-fluid">
        <div class="form-text">{{ text_before|raw }}</div>
    </div>
    {% if (maintainance_mode == true and maintainance_msg is defined) %}
    <div class="row-fluid login_warning">
        <div  class="form-text msg">{{ maintainance_msg|raw }}</div>
    </div>
    {% endif %}
    {% set warning = false %}
    {% if ((maintainance_mode == true and maintain) or credentials or not_user_role)  %}
    <div class="login_warning">
        {% set warning = true %}
    {% endif %}
    {% if last_username is sameas('anon.') %}
        {% set last_username = null %}
    {% endif %}
    <form action="{{ path('login_check') }}" method="post" class="form-signin">
        <label{% if warning%} class="warning"{% endif %} for="username">Username:</label>
        <input type="text" class="input-block-level{% if warning%} warning{% endif %}" id="username" name="_username" value="{{ last_username }}" />
        {% if warning and not credentials%}
        <div class="login_warning">
            <div class="msg">
                {% if maintain %}
                During maintainence only administrators are allowed to login. Please try again later.
                {% endif %}
                
                {% if not_user_role %}
                You do not have sufficient rights to access the isotope databse, please contact your IT administrator.
                {% endif %}
            </div>
        </div>
        {% endif %}
        
        <label {% if credentials %} class="warning"{% endif %} for="password">Password:</label>
        <input type="password" class="input-block-level{% if credentials %} warning{% endif %}" id="password" name="_password" />
        {% if credentials%}
            <div class="msg">User not found or password incorrect.</div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ token }}" />
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>

    </form>
    {% if ((maintainance_mode == true and maintain) or credentials or not_user_role) %}
    </div>
    {% endif %}
    <div class="row-fluid">
        <div class="form-text">{{ text_after|raw }}</div>
    </div>

{% endblock %}
