{% extends "IsotopeDbBundle:Admin:standard_layout.html.twig" %}

{% block title %}
    Maintainance
{% endblock title %}

{% block content %}
<div>
    <h1>Maintainance</h1>
    <p>{{ maintainance_msg|raw }}</p>
</div>
{% endblock content %}
