<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}{% endblock %}
        <title>title</title>
        <style>
            
            .xx_large, .x_large, .large{
                font-family: arial, verdana;
            }
            .bold{
                font-weight: bold;
            }
            .xx_large{
                font-size: 23pt;
            }
            .indent{
                height: 50px;
            }
            .x_large{
                font-size: x-large;
            }
            .large{
                font-size: large;
            }
            table{
                width: 1024px;
            }
        </style>
    </head>
    <body>
        {% block list_table %}
        <table>
            <tr class="bold xx_large">
                <td>Tonne:</td>
                <td>{{ internal_disposal.barrelCategory }}#{{ internal_disposal.barrelNumber }}</td>
            </tr>
            <tr class="bold xx_large">
                <td>Nuklid (Isotop):</td>
                <td>{{ internal_disposal.category }}</td>
            </tr>
            <tr class="bold xx_large">
                <td>Datum der Einlagerung:</td>
                <td>{{ internal_disposal.date|date("d M Y") }}</td>
            </tr>
            <tr class="bold xx_large">
                <td>Art des Abfalls:</td>
                <td>{{ internal_disposal.barrelCategory.description }}</td>
            </tr>
            <tr class="xx_large">
                <td>Berechnetes Freigabedatum am:</td>
                <td>{{ internal_disposal.getCalculatedDisposalDate|date("d M Y") }}</td>
            </tr>
            <tr class="xx_large">
                <td>Tatsächlich Freigegeben am:</td>
                <td>{%if internal_disposal.actualDisposal is not empty %}
                        {{ internal_disposal.actualDisposal|date("d M Y") }}
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            <tr class="xx_large">
                <td>Name und Unterschrift:</td>
                <td>{{ user.getFullName }}</td>
            </tr>
            <tr class="indent">
                <td></td>
                <td></td>
            </tr>
            <tr class="x_large">
                <td>Beginn der Befüllung:</td>
                <td>{{ internal_disposal.fillingStart|date("d M Y") }}</td>
            </tr>
            <tr class="x_large">
                <td>Ende der Befüllung:</td>
                <td>{{ internal_disposal.fillingEnd|date("d M Y") }}</td>
            </tr>
            <tr class="x_large bold">
                <td>Ausgangsaktivität in μCi:</td>
                <td>{{ internal_disposal.amountUci | german_number_format() }}</td>
            </tr>
            <tr class="x_large">
                <td>Taragewicht der Tonne in Kg:</td>
                <td>{{ internal_disposal.barrelPackageWeight | german_number_format() }}</td>
            </tr>
            <tr class="x_large">
                <td>Tatsächliges Gewicht in Kg:</td>
                <td>{{ internal_disposal.totalWeight | german_number_format() }}</td>
            </tr>
            <tr class="x_large">
                <td>Berechnetes Gewicht des Abfalls in Gramm:</td>
                <td>{{ internal_disposal.getDropWeight | german_number_format() }}</td>
            </tr>
            <tr class="x_large">
                <td>Spezifische Aktivität in Bq/g:</td>
                <td>{{ internal_disposal.getSpecActivity | science_number_format(null, true) }}</td>
            </tr>
            <tr class="x_large">
                <td>Berechnete Abklingzeit in Tagen:</td>
                <td>{{ internal_disposal.getDaysBeforeReleaseCount | german_number_format(0) }}</td>
            </tr>
            <tr class="indent">
                <td></td>
                <td></td>
            </tr>
            <tr class="x_large bold">
                <td>Berechnungsgrundlagen:</td>
                <td></td>
            </tr>
            <tr class="large">
                <td>Halbwertszeit in Tagen:</td>
                <td>{{ internal_disposal.category.halfLife | german_number_format() }}</td>
            </tr>
            <tr class="large">
                <td>Freigabegrenzwert in Bq pro Gramm:</td>
                <td>{{ internal_disposal.category.releaseLimit | german_number_format() }}</td>
            </tr>
            <tr class="large">
                <td>Berechnungsformel der Abklingzeit:</td>
                <td>t= (ln(Ausgangsaktivität/ Freigabegrenzwert)*Halbwertszeit)/ln2</td>
            </tr>
        </table>

        {% endblock %}

    </body>
</html>
