<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <style>
        .adresses{
            display: block;
            width: 100%;
            min-height: 155px;
            vertical-align: top;
            margin-top: 10px;
        }
        .address{
            display: inline-block;
            width: 600px;
            vertical-align: top;
        }
        .mpizAddres{
            display: inline-block;
            width: 285px;
            margin-right: -4px;
            margin-left: 5px;
            margin-top: 50px;
            vertical-align:bottom;
        }
        .subject{
            margin-top: 140px;
            margin-bottom: 70px;
        }
        .date{
            margin-top: 40px;
            margin-left: 615px;
        }
        .content{
            margin-bottom: 30px;
        }
        table {
            width:900px;
        }
        .report{
            margin-bottom: 100px;
        }
        .report td{
            padding: 0 5px 0 5px;
        }
        .report .balance_category{
            text-align: left;
            width: 20%
        }
        .report .balance_amount, .report .balance_order_date{
            padding-right: 80px;
            text-align: right;
            width: 40%
        }

        body {
            font-size: 17pt;
            width: 900px;
        }
        .main{
           height: 1150px;
           margin:0 auto;
           width: 100%;
        }
    </style>
</head>
<body>
<div class="main">
{% block content %}
    <div class="header">
        <img src="{{ path_to_image('report_logo.png') }} " width="900" height="200">
    </div>
    {%if settings is defined %}
        <div class="adresses">
            {%if settings.address is defined %}
            <div class="address">{{ settings.address|nl2br }}</div>
            {% endif %}
            {%if settings.mpizAddres is defined %}
            <div class="mpizAddres">{{ settings.mpizAddres|nl2br }}</div>
            {% endif %}
        </div>
        {%if date is defined %}
        <div class="date">{{ date|date('d.m.Y') }}</div>
        {% endif %}
        {%if settings.subject is defined %}
        <div class="subject">{{ settings.subject|nl2br }}</div>
        {% endif %}
        {%if settings.content is defined %}
        <div class="content">{{ settings.content|nl2br }}</div>
        {% endif %}
    {% endif %}
{% endblock %}
</div>

<p>Gesamtsummen:</p>
{% block list_table %}
    <table class="report">
        <tr>
            <td class="balance_category">Isotop</td>
            <td class="balance_amount">Erwerb µCi</td>
            <td class="balance_amount">Abgabe µCi</td>
        </tr>
        {%if reports is defined %}
        {% for report in reports %}
        <tr>
            <td class="balance_category">{{ report.category }}</td>
            <td class="balance_amount">{{ report.purchased_ci | number_format('0', ',', '.')}}</td>
            <td class="balance_amount">{{ report.disposed_ci | number_format('0', ',', '.') }}</td>
        </tr>
        {% endfor %}
        {% endif %}

    </table>

    <p>Einzelaufstellung Erwerb:</p>
    <table class="report">
        <tr>
            <td class="balance_category">Isotop</td>
            <td class="balance_order_date">Bestelldatum</td>
            <td class="balance_amount">Menge µCi</td>
        </tr>
        {% if logs is defined %}
            {% for log in logs %}
                <tr>
                    <td class="balance_category">{{ log.category }}</td>
                    <td class="balance_order_date">{{ log.date|date("d.m.Y") }}</td>
                    <td class="balance_amount">{{ (log.amount / 37000) | number_format('0', ',', '.') }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tr>
    </table>
{% endblock %}

</body>
</html>
