<table border="1">
    <tr>
        <td>Category</td>
        <td>Initial Inventory</td>
        <td>Purchased</td>
        <td>Disposed of</td>
        <td>Difference</td>
        <td>End-stock</td>
    </tr>
    {% for report in reports %}
    <tr>
        <td>{{ report.category }}</td>
        <td>{{ report.initial_stock | number_format('0', ',', '') }}</td>
        <td>{{ report.purchased | number_format('0', ',', '') }}</td>
        <td>{{ report.disposed | number_format('0', ',', '') }}</td>
        <td>{{ report.difference | number_format('0', ',', '') }}</td>
        <td>{{ report.end_stock | number_format('0', ',', '') }}</td>
    </tr>
    {% endfor %}
    </tr>
</table>
