<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        .footer{
            height: 100px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="footer">
    {% block footer %}
        <table style="width: 100%">
          <tr>
            <td style="text-align:center">
              <img class="footer_img" src="{{ path_to_image('report_footer.png') }}" width="96" height="80">
            </td>
          </tr>
        </table>
    {% endblock %}
    </div>
</body>
</html>